:root {
  --size: 250px;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: grid;
  place-content: center;
  min-height: 80vh;
}

/* !container */
.container {
  perspective: 1000px;
  width: var(--size);
  height: var(--size);
}

.cube {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform: rotateX(-15deg) rotateY(15deg) ;
}

/* !faces */
.face {
  position: absolute;
  border: 1px solid rgba(142, 142, 142, 0.683);
  box-shadow: inset 0 0 60px rgba(0, 0, 0, 0.1);
  width: var(--size);
  height: var(--size);
  line-height: var(--size);
  text-align: center;
  font-size: 1.25rem;
  background: #fff;
  opacity: 0.8;
}

.front {
  transform: translateZ(150px);
}

.back {
  transform: rotateY(180deg) translateZ(150px);
}